@keyframes rotate {
  from {
    --angle: var(--initial-angle, 0deg);
  }

  to {
    --angle: var(--final-angle, 360deg);
  }
}

@keyframes rotate-reverse {
  from {
    --angle: var(--final-angle, 360deg);
  }

  to {
    --angle: var(--initial-angle, 0deg);
  }
}