dialog {
  --start: scale(0);
  --end: scale(1);
  border: none;
  margin: auto;
  min-width: 20rem;
  padding: var(--size600) var(--size200);
  border-radius: var(--size100);
  transition: 0.3s, display 0.3s allow-discrete;
  transform: var(--start);
  position: relative;

  &.full {
    width: 100vw;
    height: 100vh;
  }

  &[open] {
    display: var(--display);
    transform: var(--end);

    @starting-style {
      transform: var(--start);
    }
  }

  &:-internal-dialog-in-top-layer {
    max-width: none;
    max-height: none;
  }
}


[popover] {
  margin: 0;
  border: none;
  transition: 0.3s;


  &:popover-open {
    display: var(--display);

    @starting-style {
      opacity: 0;
      translate: var(--translate, 0 -1rem);
    }
  }

  &.menu {
    padding: var(--size80) 0;
    border-radius: var(--size80);
    border: 1px solid var(--gray20);
  }

  &.modal {
    margin: auto;

    &::backdrop {
      background-color: black;
    }
  }
}