form {
  display: grid;
  gap: var(--size600);
}

fieldset {
  display: grid;
  gap: var(--size70);
  border: none;

}

label {
  --color: var(--gray70);
  --padding: var(--size100);
  --shadow-size: 1px;
  --border-radius: calc(0.75 * var(--padding));
  font-size: 1rem;
  display: grid;
  position: relative;
  box-shadow: 0 0 0 var(--shadow-size) var(--color);
  border-radius: var(--border-radius);
  transition: .2s ease;

  >span {
    position: absolute;
    transition: inherit;
    color: var(--color);
    left: var(--padding);
    top: 50%;
    translate: 0 -50%;
    background-color: var(--white);
    cursor: pointer;
  }

  &:has(> :is(input, select, textarea):is(:not(:placeholder-shown)))>span {
    top: -2px;
    font-size: 0.8125rem;
  }

  &:has(> :is(input, select, textarea):is(:focus)) {
    --color: var(--primary);
    --shadow-size: 2px;

    >span {
      top: -2px;
      font-size: 0.8125rem;
    }
  }

  &:has(> input:user-invalid) {
    --color: var(--red);
  }

  > :is(input:not(:is([type=checkbox], [type=radio])), select, textarea) {
    border: none;
    outline: none;
    padding: var(--padding);
    border-radius: var(--border-radius);
    font-size: inherit;
    transition: 0.3s;
    background-color: var(--white);
  }

  &.button {
    height: auto;
    padding: var(--padding);
    border-radius: var(--border-radius);
    --padding: 0.76em;

    &[data-size=medium] {
      --padding: 0.625em;
      font-size: var(--normal);
    }

    &[data-size=small] {
      --padding: 0.54em;
      font-size: var(--small);
    }

    &[data-size=tiny] {
      --padding: var(--size80em);
      font-size: var(--size90);
    }
  }
}