table {
  border-collapse: collapse;

  th {
    font-weight: 500;
    padding: var(--size0);
  }

  td {
    padding: var(--size0);
  }

  tr.input td {

    padding: 0;
    position: relative;

    input:is([type=number], [type=text]) {
      border: none;
      text-align: inherit;
      width: 100%;
      color: inherit;
      font-weight: 300;
      background-color: var(--white);
      padding: 0.25rem;
    }
  }






  &.bordered :is(td, th) {
    border: 1px solid var(--gray30);
  }
}