table {
  border-collapse: collapse;

  td {
    padding: var(--size70) 0;
  }

  tr {
    &:hover {
      background-color: color-mix(in srgb, var(--primary) 5%, transparent);
    }
  }

  tr.input td {

    padding: 0;
    position: relative;

    input:is([type=number], [type=text]) {
      border: none;
      text-align: inherit;
      width: 100%;
      color: inherit;
      font-weight: 300;
      background-color: var(--white);
      padding: 0.25rem;
    }
  }
}