[data-display=none] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: -50% -50%;
  pointer-events: none;
  opacity: 0;
}

.tleft {
  text-align: left;
}

.tright {
  text-align: right;
}

.tcenter {
  text-align: center;
}

@media print {
  body {
    visibility: hidden;
  }

  #print {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
  }
}