:root {
  --white: white;
  --black: black;
  --primary: hsl(220, 100%, 50%);
  --red: red;
  --blue: hsl(240, 100%, 50%);
  --green: green;

  --small: 0.8125rem;
  --normal: 0.875rem;

  --d70: 0.25;
  --d80: 0.5;
  --d90: 0.75;
  --d100: 1;
  --d200: 1.25;
  --d300: 1.5;
  --d400: 1.75;
  --d500: 2;
  --d600: 2.25;
  --d700: 2.5;
  --d800: 2.75;
  --d900: 3;
  --d1000: 3.25;

  --size70: calc(var(--d70) * 1rem);
  --size80: calc(var(--d80) * 1rem);
  --size90: calc(var(--d90) * 1rem);
  --size100: calc(var(--d100) * 1rem);
  --size200: calc(var(--d200) * 1rem);
  --size300: calc(var(--d300) * 1rem);
  --size400: calc(var(--d400) * 1rem);
  --size500: calc(var(--d500) * 1rem);
  --size600: calc(var(--d600) * 1rem);
  --size700: calc(var(--d700) * 1rem);
  --size800: calc(var(--d800) * 1rem);
  --size900: calc(var(--d900) * 1rem);
  --size1000: calc(var(--d1000) * 1rem);

  --size70em: calc(var(--d70) * 1em);
  --size80em: calc(var(--d80) * 1em);
  --size90em: calc(var(--d90) * 1em);
  --size100em: calc(var(--d100) * 1em);
  --size200em: calc(var(--d200) * 1em);
  --size300em: calc(var(--d300) * 1em);
  --size400em: calc(var(--d400) * 1em);
  --size500em: calc(var(--d500) * 1em);
  --size600em: calc(var(--d600) * 1em);
  --size700em: calc(var(--d700) * 1em);
  --size800em: calc(var(--d800) * 1em);
  --size900em: calc(var(--d900) * 1em);
  --size1000em: calc(var(--d1000) * 1em);

  --gray5: color-mix(in oklab, var(--black) 5%, transparent);
  --gray10: color-mix(in oklab, var(--black) 10%, transparent);
  --gray20: color-mix(in oklab, var(--black) 20%, transparent);
  --gray30: color-mix(in oklab, var(--black) 30%, transparent);
  --gray40: color-mix(in oklab, var(--black) 40%, transparent);
  --gray50: color-mix(in oklab, var(--black) 50%, transparent);
  --gray60: color-mix(in oklab, var(--black) 60%, transparent);
  --gray70: color-mix(in oklab, var(--black) 70%, transparent);
  --gray80: color-mix(in oklab, var(--black) 80%, transparent);
  --gray90: color-mix(in oklab, var(--black) 90%, transparent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: white;
    --white: #121212;
    --primary: skyblue;
    --red: hsl(9, 100%, 70%);
    --blue: hsl(204, 100%, 61%);
  }
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}